*.class

# Package Files #
*.war
*.ear
/MIGLogin/MIGLoginClient/nbproject/private/
/MIGLogin/MIGLoginServer/nbproject/private/
/MIGLogin/MIGMain/nbproject/private/
/MIGLogin/MIGXmlRpcClient/nbproject/private/

/MIGLogin/*/build/
/MIGLogin/MIGMain/build/
/MIGLogin/MIGLoginClient/build/

/MIGLogin/MIGXmlRpcClient/dist/
/MIGLogin/MIGMain/dist/
/MIGLogin/MIGLoginClient/build/
/MIGLogin/MIGLoginClient/dist/
/MIGLogin/MigXmlRpcServer/dist/
