*.class

# Package Files #
*.war
*.ear

/MIGLogin/*/build/
/MIGLogin/*/dist/
/MIGLogin/*/nbproject/private/
.name,.iml,.uml
MIGLogin/.idea/.name
MIGLogin/.idea/compiler.xml
MIGLogin/.idea/copyright/profiles_settings.xml
MIGLogin/.idea/encodings.xml
MIGLogin/.idea/libraries/MyGame.xml
MIGLogin/.idea/libraries/lib.xml
MIGLogin/.idea/libraries/lib1.xml
MIGLogin/.idea/libraries/lib2.xml
MIGLogin/.idea/libraries/lib3.xml
MIGLogin/.idea/libraries/lib4.xml
MIGLogin/.idea/libraries/org_netbeans_modules_java_j2seproject_copylibstask.xml
MIGLogin/.idea/misc.xml
MIGLogin/.idea/modules.xml
MIGLogin/.idea/scopes/scope_settings.xml
MIGLogin/.idea/uiDesigner.xml
MIGLogin/.idea/vcs.xml
MIGLogin/.idea/workspace.xml
MIGLogin/MIGMain/MIGMain.iml
MIGLogin/MIGMain/src/MIG/ka/bprocess/Common/Common.uml
MIGLogin/MIGMain/src/MIG/ka/bprocess/Gamestates/Gamestates.uml
MIGLogin/MIGMain/src/MIG/ka/bprocess/Login/Login.uml
MIGLogin/MIGMain/src/MIG/ka/bprocess/Login/Screen/Screen.uml
MIGLogin/MIGMain/src/MIG/ka/bprocess/MainGame/MainGame.uml
MIGLogin/MIGMain/src/MIG/ka/bprocess/MainMenu/MainMenu.uml
MIGLogin/MIGMain/src/MIG/ka/bprocess/MainMenu/Screen/Screen.uml
MIGLogin/MIGMain/src/MIG/ka/bprocess/MultiplayerGame/MultiplayerGame.uml
MIGLogin/MIGMain/src/MIG/ka/bprocess/MultiplayerLobby/Screen/Screen.uml
MIGLogin/MIGMain/src/MIG/ka/bprocess/Networking/Networking.uml
MIGLogin/MIGMain/src/MIG/ka/bprocess/bprocess.uml
MIGLogin/MigXmlRpcServer/MigXmlRpcServer.iml
MIGLogin/MigXmlRpcServer/src/BCrypt/BCrypt.uml
MIGLogin/MigXmlRpcServer/src/MIG/ka/bprocess/LoginModel/LoginModel.uml
MIGLogin/MigXmlRpcServer/src/MIG/ka/bprocess/MultiplayerGame/MultiplayerGame.uml
MIGLogin/MigXmlRpcServer/src/MIG/ka/bprocess/MultiplayerLobbyModel/MultiplayerLobbyModel.uml
MIGLogin/MigXmlRpcServer/src/MIG/ka/bprocess/Networking/Handler/Handler.uml
MIGLogin/MigXmlRpcServer/src/MIG/ka/bprocess/Networking/Networking.uml
MIGLogin/MigXmlRpcServer/src/MIG/ka/bprocess/bprocess.uml
MIGLogin/bprocess.uml
